In [2]:
import pandas
import os
from pathlib import Path

In [23]:
data = pandas.read_json("./data/2024-02-04.json")
# remove duplicates
cleaned_data = data[~data.duplicated(subset="id")]
cleaned_data.head(5)

,type,id,attributes,links
0,ads,105457640,"{'date': '2024-02-04 16:19:23', 'modified_ts':...",{'image_baseurl': 'https://img.rnudah.com/imag...
1,ads,101194263,"{'date': '2024-02-04 16:18:50', 'modified_ts':...",{'image_baseurl': 'https://img.rnudah.com/imag...
2,ads,104408145,"{'date': '2024-02-04 16:18:21', 'modified_ts':...",{'image_baseurl': 'https://img.rnudah.com/imag...
3,ads,105475879,"{'date': '2024-02-04 16:17:50', 'modified_ts':...",{'image_baseurl': 'https://img.rnudah.com/imag...
4,ads,105225597,"{'date': '2024-02-04 16:17:33', 'modified_ts':...",{'image_baseurl': 'https://img.rnudah.com/imag...

In [35]:
pandas.json_normalize(cleaned_data["attributes"])

,date,modified_ts,building_id,type_name,category_name,list_id,subject,rooms_name,monthly_rent,price_suffix,...,price_markdown,old_price,bump_expiry,gallery_expiry,gallery,has_ps_gallery,bundle,roommate_gender_name,urgent,has_ps_urgent
0,2024-02-04 16:19:23,1707034763,a5cb2453-5613-4c60-88f0-48de00cc4cf1,let,Apartment / Condominium,105457640,Permas Jaya Impian Senibong Condo 3Bedroom Ful...,3,1600.0,per month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-02-04 16:18:50,1707034730,eca82873-3f0a-4282-a045-ebcfeb4a4a63,sell,Apartment / Condominium,101194263,FREEHOLD De Centrum Residence Bandar Baru Bang...,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-02-04 16:18:21,1707034701,0f450f28-dfaa-4893-9b1f-17c58a5e100d,let,Apartment / Condominium,104408145,Bagus üè°‚õ±Ô∏è I City in Shah Alam,2,1250.0,per month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-02-04 16:17:50,1707034670,NaN,sell,House,105475879,2 storey Cluster House/Freehold/Extra 10ft Lan...,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-02-04 16:17:33,1707034653,NaN,sell,Land,105225597,318acres/Next to main road/Freehold/Agricultur...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1393,2024-02-04 21:40:54,1707054054,4537352e-f39e-433d-9bc1-dc3bfa822856,let,Apartment / Condominium,104514573,Sunway Velocity TWO Rent (WTR Fully Furnished),2,3100.0,per month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1394,2024-02-04 21:40:49,1707054049,NaN,let,Commercial Property,105393601,The Netizen Cheras Shoplot Ground Floor Near M...,NaN,7500.0,per month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1395,2024-02-04 21:40:49,1707054049,e317a67d-b52e-4297-a18e-4febbe543757,sell,Apartment / Condominium,104373316,Bukit Pandan 2 Condominium Duplex Corner Unit ...,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1396,2024-02-04 21:40:49,1707054049,97ed9b5b-1822-430a-bae4-6b69b006f37c,sell,Apartment / Condominium,102905088,Saville Cheras Batu 9 freehold Sri Raya MRT st...,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1397,2024-02-04 21:40:45,1707054045,fe05a7fc-bc64-41d2-a642-c10ddedd4195,let,Apartment / Condominium,105318175,Arte Cheras Taman Midah 2+1 Loft Rent(WTL Full...,3,2200.0,per month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
merged_data = pandas.concat([pandas.json_normalize(cleaned_data["attributes"]), 
                            pandas.json_normalize(cleaned_data["links"])], axis=1,
                            )
merged_data

,date,modified_ts,building_id,type_name,category_name,list_id,subject,rooms_name,monthly_rent,price_suffix,...,bump_expiry,gallery_expiry,gallery,has_ps_gallery,bundle,roommate_gender_name,urgent,has_ps_urgent,image_baseurl,image_grid_baseurl
0,2024-02-04 16:19:23,1707034763,a5cb2453-5613-4c60-88f0-48de00cc4cf1,let,Apartment / Condominium,105457640,Permas Jaya Impian Senibong Condo 3Bedroom Ful...,3,1600.0,per month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://img.rnudah.com/images,https://img.rnudah.com/grids
1,2024-02-04 16:18:50,1707034730,eca82873-3f0a-4282-a045-ebcfeb4a4a63,sell,Apartment / Condominium,101194263,FREEHOLD De Centrum Residence Bandar Baru Bang...,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://img.rnudah.com/images,https://img.rnudah.com/grids
2,2024-02-04 16:18:21,1707034701,0f450f28-dfaa-4893-9b1f-17c58a5e100d,let,Apartment / Condominium,104408145,Bagus üè°‚õ±Ô∏è I City in Shah Alam,2,1250.0,per month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://img.rnudah.com/images,https://img.rnudah.com/grids
3,2024-02-04 16:17:50,1707034670,NaN,sell,House,105475879,2 storey Cluster House/Freehold/Extra 10ft Lan...,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://img.rnudah.com/images,https://img.rnudah.com/grids
4,2024-02-04 16:17:33,1707034653,NaN,sell,Land,105225597,318acres/Next to main road/Freehold/Agricultur...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://img.rnudah.com/images,https://img.rnudah.com/grids
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1393,2024-02-04 21:40:54,1707054054,4537352e-f39e-433d-9bc1-dc3bfa822856,let,Apartment / Condominium,104514573,Sunway Velocity TWO Rent (WTR Fully Furnished),2,3100.0,per month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://img.rnudah.com/images,https://img.rnudah.com/grids
1394,2024-02-04 21:40:49,1707054049,NaN,let,Commercial Property,105393601,The Netizen Cheras Shoplot Ground Floor Near M...,NaN,7500.0,per month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://img.rnudah.com/images,https://img.rnudah.com/grids
1395,2024-02-04 21:40:49,1707054049,e317a67d-b52e-4297-a18e-4febbe543757,sell,Apartment / Condominium,104373316,Bukit Pandan 2 Condominium Duplex Corner Unit ...,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://img.rnudah.com/images,https://img.rnudah.com/grids
1396,2024-02-04 21:40:49,1707054049,97ed9b5b-1822-430a-bae4-6b69b006f37c,sell,Apartment / Condominium,102905088,Saville Cheras Batu 9 freehold Sri Raya MRT st...,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://img.rnudah.com/images,https://img.rnudah.com/grids
1397,2024-02-04 21:40:45,1707054045,fe05a7fc-bc64-41d2-a642-c10ddedd4195,let,Apartment / Condominium,105318175,Arte Cheras Taman Midah 2+1 Loft Rent(WTL Full...,3,2200.0,per month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://img.rnudah.com/images,https://img.rnudah.com/grids